<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".verifiable_credentials.DefaultVcConsentActivity"
            android:exported="false"
            android:label="@string/title_activity_default_verifiable_credential_cocent"
            android:theme="@style/Theme.Vcwalletandroidapp" />
        <activity
            android:name=".verifiable_presentation.OAuthErrorActivity"
            android:exported="false"
            android:label="@string/title_activity_oauth_error"
            android:theme="@style/Theme.Vcwalletandroidapp" />
        <activity
            android:name=".verifiable_presentation.DefaultVpConsentActivity"
            android:exported="false"
            android:label="@string/title_activity_default_vp_consent"
            android:theme="@style/Theme.Vcwalletandroidapp" />
    </application>

</manifest>